/* font 300 font 500 font 800 */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 75px;
    font-family: 'Open Sans', sans-serif; 
}
/* INIZIO HEADER */
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px #8888885b;
}
#main-header{
    height: 80px;
    display: flex;
    align-items: center;
}
.nav-bar > ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-bar > ul  li{
    display: flex;
    align-items: center;    
}
.nav-bar > ul  a{
    display: flex;
    align-items: center;
    height: 80px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-bottom: 2px solid;
    border-bottom-style: hidden;
}
li:hover .border{
    border-bottom-style: solid;
}
.left{
    margin-left: 20px;
}
.right{
    margin-right: 20px;
}
/* GENERICS */
button{
    background-color: #0061FF;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
}
button:hover{
    opacity: 0.8;
}
a{
    color: #0061FF;
}
/* INIZIO JUMBOTRON */
.jumbotron{
    width: 100%;
    min-height: 600px;
    background-color: #B4D0E7;
}
.jumbotron-container{
    width: 70%;
    min-height: 80%;
    position: relative;
}
h1{
    font-size: 4rem;
    font-weight: 800;
    padding-top: 50px;
}
.jumbotron-container p{
    padding: 30px 0px 20px 0; 
    width: 374px;
    margin-right: 702px       
}
.jumbotron-container p, h4{
    font-weight: 300;
}
.jumbotron-container button{
    margin-bottom: 20px;
}
.jumbotron-container .icon{
    font-size: 3rem;
    padding: 30px 0 20px 0;
}
.img-jumbo{
    height: 410px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -27% -7%;
}
/* INIZIO MAIN-TOP */
.main-top{
    width: 65%;
    min-height: 900px;
}
.main-top > h2{
    padding-top: 100px;
    font-weight: 800;
    font-size: 2.3rem;
}
.main-top > ul{
    list-style-type: none;
    display: flex;
    padding-top: 50px;
}
.text-billing{
    margin-left: 0;
    margin-right: 25px;
}
.circle{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 5px;
}
.blu{ 
    border: 5px solid #0061FF
}
.grey{
    border: 3px solid #D1D1D4
}
/* INIZIO CARD */
.row{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.col{
    min-height: 100px;
    flex-basis: calc(100% / 3 - 80px / 3);
    padding-bottom: 95px;
    border: 1px solid
}
.col-full{
    flex-basis: 100%;
    min-height: 200px;
    padding-bottom: 40px;
    border: 1px solid
}
.title-card{
    border-bottom: 1px solid;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px 110px;
}
.main-card{
    width: 85%;
    min-height: 70px;
    margin-top: 30px;
}
.main-card h2{
    padding-bottom: 10px;
}
.main-card p{
    padding-bottom: 5px;
}
.main-card .lightgrey{
    color: lightslategray;
}
.main-card .user{
    padding-top: 20px;
}
.text-main-card{
    display: flex;
}
.text-main-card > i{
    flex-shrink: 0;
    padding-top: 6px;
    padding-right: 4px;
}
.pd-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pd-30{
    padding-top: 30px;
}
.main-card > button{
    margin-bottom: 20px;
    margin-top: 20px;
}
.cube{
    width: 50px;
    height: 40px;
    margin-bottom: 25px;
    border-bottom: 1px solid;
    display: inline-block;
}
.main-card h4{
    font-weight: 800;
    margin-bottom: 25px;
}
.blue{
    color: #0061FF;
}
.text-long{
    flex-grow: 1;
}
.pad{
    padding: 5px 460px 5px 460px;
    margin-bottom: 20px
}
.nav-bar-full{
    display: flex;
}
.nav-bar-full h2{
    margin-right: 590px;
}
.nav-bar-full button{
    padding: 0px 30px 0 30px;
}
.text-full{
    width: 940px;
}
.text-full h4:first-child{
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 40px;
}
.text-full h4:last-child{
    padding-right: 250px;
}
/* INIZIO MAIN-CENTER */
.main-center{
    width: 65%;
    min-height: 300px;
}
.row-nogap{
    display: flex;
    margin-top: 100px;
}
.col-2{
    min-height: 80px;
    flex-basis: calc(100% / 2);
    padding-bottom: 95px;
}
.img-center{
    background-image: url(../img/partner.png);
    min-height: 500px;
    background-size: cover;
    width: 650px;
}
.text-center{
    padding-top: 40px;
    padding-left: 40px;
}
.text-center > h2{
    padding-bottom: 20px;
}
.text-center > p{
    padding-bottom: 35px;
}
.text-center > button{
    padding: 10px 20px 10px 20px;
    color: black;
    border: 1px solid;
    background-color: white;
}
/* INIZIO MAIN-CENTER PT2 */
.main-center > h2{
    font-weight: 800;
    font-size: 2.3rem;
}
#tools{
    background-image:url(../img/business-feature-switching-tools.png);
}
#files{
    background-image: url(../img/business-feature-send-files-it.png);
}
#coordinate{
    background-image: url(../img/business-feature-coordinate-it.png);
}
#integrations{
    background-image: url(../img/business-feature-integrations-it.png)
}
#device{
    background-image: url(../img/business-feature-multi-device.png);
}
#security{
    background-image: url(../img/business-feature-security.png);
}
.img-bottom{    
    min-height: 200px;
    background-size: cover;
    display: block;   
    margin-bottom: 20px;
}
.col > p{
    margin-top: 35px;
}
.main-center .col{
    border: none;
}
/* INIZIO MAIN-FOOTET-TOP */
.main-footer-top{
    width: 65%;
    min-height: 250px;
}
.main-footer-top > h2{
    font-weight: 800;
    width: 475px;
    margin-left: 0;
    margin-bottom: 40px;
}
.main-footer-top > a{
    color: #0061FF;
}
/* INIZIO MAIN-FOOTER-UP */
.main-footer-up{
    width: 100%;
    min-height: 500px;
    background-color: #F5F5F5
}
.col-3{
    flex-basis: calc(100% / 3);
    min-height: 500px;
}
.side-col{
    display: flex;
    flex-wrap: wrap;    
}
.cols{
    flex-basis: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid transparent;
}
.cols:hover{
    border-color: rgba(255, 255, 255, 0.5)
}
.cols img{
    filter: invert(100%);
}
#green{
    background-color: #A2D39B;
}
#brown{
    background-color: #61082B;
}
#azure{
    background-color: #0093CE;
}
#orange{
    background-color: #FF1C1C;
}
#red{
    background-color: #D5001F;
}
#aqua{
    background-color: #B4D0E7
}
#blue{
    background-color: #0D2481;
}
#yellow{
    background-color: #FFD830;
}
.h50{
    height: 50px;
}
.h110{
    height: 110px;
}
.h30{
    height: 20px;
}
.footer-center{
    width: 90%;
    min-height: 100%;
    background-color: #F5F5F5
}
.footer-center img{
    margin-top: 60px;
}
.footer-center p:last-child{
    margin-top: 40px;
}
.h95{
    height: 95px;
}
.footer-center > .cube{
    display: inline-block;
    width: 100px;
}
/* INIZIO MAIN-FOOTER-DOWN */
.main-footer-down{
    width: 100%;
    min-height: 200px;
    padding-top: 70px;
    background-color: #B4D0E7;
}
.main-footer-down > h2{
    display: inline-block;
    margin-left: 270px;
    width: 400px;
    font-size: 2rem;
    color: #61082B;
}
.main-footer-down > button{
    padding: 10px 30px 10px 30px;
    color: black;
    border: 1px solid;
    background-color: white;
    position: relative;
    bottom: 45px;
    left: 365px;
}
/* INIZIO MAIN-FOOTER-BOTTOM */
.main-footer-bottom{
    width: 65%;
    min-height:550px;
}
.main-footer-bottom > h2{
    padding: 100px 0 60px 0;
    border-bottom: 1px solid;
}
.main-footer-bottom > ul{
   list-style-type: none;
}
.main-footer-bottom  ul li:first-child{
    margin-top: 50px;
}
.none{
    padding: 30px 0 30px 0;
    font-weight: 800;
    border-bottom: 1px solid;
}
.visible{
    visibility: hidden;
}
.none:hover{
    display: none;
}
.visible:hover{
    visibility: visible;
}
.arrows{
    padding-left: 210px;
}
/* INIZIO FOOTER */
.footer-container{
    width: 100%;
    min-height: 500px;
    background-color: black;
    color: white;
}
.footer-up{
    width: 80%;
    min-height: 200px;
    padding-top: 100px;
    display: flex;
    gap: 40px;
}
.col-5{
    flex-basis: calc(100% / 5 - 80px / 5);
}
.col-5 > ul{
    list-style-type: none;
}
.footer-up ul li:first-child{
    font-weight: 800;
    font-size: 1.5rem;
    padding-bottom: 20px;
}
.col-5 > ul > li{
    padding-bottom: 10px;
}
.footer-down{
    color: #999999;
}
.footer-down > ul{
    list-style-type: none;
    margin-left: 150px;
    width: 105px;
    margin-top: 90px;
    padding-top: 40px;
    border-top: 1px solid white;
}
.footer-down ul > li{
    display: inline;
    padding-right: 1px;
}